* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header-container {
    background-color: linear-gradient(180deg, #07243c -35%, rgba(255, 255, 255, 0) 95%); 
    
    backdrop-filter: blue(4px);
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 200;
    left: 0;
    color: white;
    border-bottom: 1px solid rgba(226,226,226,.2);
    border-top: 0;
}

.header-container-main {
    transition: all .3s ease-out;
    width: 100%;
    height: 72px;
    
}

.header-wrapper-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-right: 18px;
    
}

.logo-container {
    margin-left: 14px;
    margin-top: -5px;
    cursor: pointer;
    max-width: 139px;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 0;
    padding: 0 24px 0 0;
    list-style: none;
}

/* main */

.pic-slider{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.pic-slider-main {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;   
    transition: opacity 1s ease;
}

.pic-slider-main.visible {
    opacity: 1;
}

.pic-slider-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}








