* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column; 
}

body {
    flex: 1;
}




.header-container {
    background: linear-gradient(180deg, #07243c -35%, rgba(255, 255, 255, 0) 95%);

    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 200;
    left: 0;
    color: white;
    border-top: 0;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgba(355, 355, 355, .2);
}

/* .header-container .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #07243c -35%, rgba(255, 255, 255, 0) 95%);
    z-index: -1; 
    transition: filter 0.3s ease;
} */

.header-container-main {
    width: 100%;
    height: 72px;

}

.header-wrapper-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-right: 18px;

}

.logo-container {
    margin-left: 14px;
    margin-top: -5px;
    cursor: pointer;
    max-width: 139px;
}

.logo-container a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 0;
    padding-left: 70px;
    padding-right: 5%;
    list-style: none;
    cursor: pointer;

}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    font-style: bold;

}

nav ul li:hover a {
    color: black;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s ease;

}


/* all picture here */

section {
    width: 100%;
    flex-grow: 1;
}

section .gallery-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
   margin-bottom: 20px;
   flex-grow:1 ;
   
    
}

section .gallery-container img {
    width: 80%;
    height: 50%;
    border-radius: 10px;
   
}

.gallery-container .description {
    text-align: center;
    padding: 2rem;
    width: 85%;
}


.gallery-container .description h1 {
    font-size: 40px;
    margin: 5px;
    font-style: italic;
}

.gallery-container .description p {
    text-align: left;
    font-size:  20px;
    line-height: 2;
    margin: 5px;
}


/* footer or contacts section na 2 ah */

.contacts {
    height: 50%;
    width: 100%;
    background-color: black;
    padding: 2rem 0
}


.contacts-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


.contacts-list li {
    list-style: none;
    font-size: 25px;

}

.contacts-list ul li i {
    color: white;
}

.contacts hr {
    width: 80%;
    margin: 2rem auto;
    border-radius: 100%;
    border-color: rgba(255, 255, 255, 0.35);
    
}


 .text-wrapper {
   
    text-align: center;
    margin: 6rem auto;
    width: 80%;
    line-height: 2;
    font-style: italic;
    color: rgba(187, 187, 187, 0.45);
}


.contacts .footer-text {
    color:  rgba(187, 187, 187, 0.45);
    font-size: 18px;
}