* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header-container {
    background: linear-gradient(180deg, #07243c -35%, rgba(255, 255, 255, 0) 95%);

    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 200;
    left: 0;
    color: white;
    border-top: 0;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgba(355, 355, 355, .2);
}

/* .header-container .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #07243c -35%, rgba(255, 255, 255, 0) 95%);
    z-index: -1; 
    transition: filter 0.3s ease;
} */

.header-container-main {
    width: 100%;
    height: 72px;

}

.header-wrapper-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-right: 18px;

}

.logo-container {
    margin-left: 14px;
    margin-top: -5px;
    cursor: pointer;
    max-width: 139px;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 0;
    padding-left: 70px;
    padding-right: 5%;
    list-style: none;
    cursor: pointer;

}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    font-style: bold;

}

nav ul li:hover a {
    color: black;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s ease;

}














/* main */

.pic-slider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.pic-slider-main {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.pic-slider-main.visible {
    opacity: 1;
}

.pic-slider-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.svg-container {
    position: absolute;
    bottom: -1px;
    top: 20;
    left: 0;
    background: transparent;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    transform: rotate(180deg);



}

.element-shape {
    fill: linear-gradient(180deg, #07243c -35%, rgba(255, 255, 255, 0) 95%);
    transform-origin: center;
    transform: rotateY(0deg);
}

.element-shape-2 {
    fill: grey;
    transform-origin: center;
    transform: rotateY(0deg);

}

/* another main */

section {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 350%;
padding-bottom: 2rem;



}

section .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    

}

section .title .heading {
    position: relative;
    text-shadow: 0px 0px 10px #badddf50, 0px 0px 20px #badddf50;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    transition: ease 0.3s;
    animation: animate 1s linear infinite;
}


@keyframes animate {
    0% {
        color: #00b3ff;
        filter: blur(1px);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 300px #00b3ff,
    }

    30%, 70% {
        color: white;
        filter: blur(1px);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 300px #00b3ff,
    }
    100% {

        color: transparent;
        box-shadow: none;
        filter : blur(2px) hue-rotate(2deg);
    }
}


section .title a {
    text-decoration: none;
    color: black;
}

section .title .heading:hover {
    font-size: 50px;
    animation: animate 2s linear infinite;
    color: transparent;
}



/* imagaes section */

section .image-container {
    width: 100%;
    max-width: 1300px;
    

}

section .image-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    padding: 0rem 2rem;
    margin-left: 3rem;
}

.image-container .image-wrapper .image-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-width: 350px;
    filter: drop-shadow(-7px 2px 10px #000000);
    transition: 1s ease-in;
    border-radius: 25px 25px 25px 25px;
}


.image-container .image-wrapper .image-box img {
    width: 100%;
    max-height: 100%;
    height: fit-content;
    object-fit: cover;

}


.image-container .image-wrapper .image-box:hover {
    transition: 1.5s ease;
    transform: scale(1.2);
}



.image-container .image-wrapper .content-card {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0rem 1rem;
    transform: translateY(-20px);
    color: #fff;
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 03s ease;
}

.image-container .image-wrapper .content-card h4,
.image-container .image-wrapper .content-card p {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-container .image-wrapper .image-box:hover .content-card {
    transform: translateY(0);
}

.image-container .image-wrapper .image-box:hover .content-card h4,
.image-container .image-wrapper .image-box:hover .content-card p {
    opacity: 1;

}



.image-container .image-wrapper .content-card h4 {
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 3px;
    animation: popUp 1s ease-out;
}

.image-container .image-wrapper .content-card p {
    font-size: 18px;
    font-weight: 300;
    animation: popUp 1.2s ease-out;

}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}